<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748419480024-pirrvi16kcdppbfilr8r28jhla9aas8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748419480024-pirrvi16kcdppbfilr8r28jhla9aas8u</string>
	<key>API_KEY</key>
	<string>AIzaSyCjaVlk_2L-aNbduCT6gW7hQ9LPLQkmtJs</string>
	<key>GCM_SENDER_ID</key>
	<string>748419480024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.application</string>
	<key>PROJECT_ID</key>
	<string>aciolehelp</string>
	<key>STORAGE_BUCKET</key>
	<string>aciolehelp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748419480024:ios:2eec836dabc95196bb9aad</string>
</dict>
</plist>